.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  .title {
    margin: 45px 0;
  }

  .form-container {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}